    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .margin{
        width: 1200px;
        margin: 0 auto;
    }

    .rji-nav-logo h1{
        font-family: 'Roboto';
        color: #000;
        font-size: 24px;
        font-weight: 400;
        text-shadow: 1px 1px 2px grey;
    }

    .rji-nav-logo span{
        font-family: 'Roboto';
        color: #000;
        font-size: 24px;
    }

    .rji-nav-logo sub{
        font-family: 'Roboto';
        color: #000;
        font-size: 24px;
    }


    .rji-header-area{
        height: 60px;
        color: #000;
        background-color: #f7c600;
        align-content: center;
    }

    .rji-nav-wrapper{
        align-items: center;
        display: flex;
        width: 1200px;
        margin: 0 auto;
        justify-content: space-between;
    }

    .rji-nav-wrapper ul{
        display: flex;
        gap: 30px;
        text-decoration: none;
        list-style: none;
        align-items: center;
        margin-bottom: 0;
    }
    
    .rji-nav-wrapper li{
        cursor: pointer;
        position: relative;
    }

    
    .rji-nav-options{
        display: flex;
        gap: 30px;
    }

    .rji-nav-options a{
        text-decoration: none;
        color: #000;
        cursor: pointer;
    }

    .rji-nav-options li:after{
        content: "";
        position: absolute;
        background-color: #000000c0;
        height: 1.5px;
        width: 0;
        left: 0;
        bottom: -10%;
        transition: 0.3s;
    }

    .rji-nav-options li:hover:after{
        width: 100%;
    }

    .rji-hero-banner{
        background-color: #f7c600;
        min-height: 89vh;
        background-size: cover;

    }

    .container-1{
        display: flex;
    }
    .rji-hero-container-img img{
        max-width: 100%;
    }

    .rji-hero-container{
        font-family: 'roboto';
        width: 100%;
        padding-top: 50px;
        color: #000;
    }


    .rji-hero-container h1{
        text-align: left;
        font-size: 60px;
        flex-wrap: wrap;
        text-shadow: 1px 1px 2px grey;
        margin-bottom: 24px;
    }

    .rji-hero-container p{
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    .rji-hero-container span{
        font-size: 24px;
        cursor: default;
        color:#000;
    }

    .rji-hero-container button{
        font-size: 20px;
        cursor: pointer;
        border-radius: 8px;
        width: 150px;
        height: 40px;
        color:#000;
        border: none;
        background-color: transparent;
        position: relative;
    }

    .rji-hero-container button:after{
        content: '';
        position: absolute;
        width: 10%;
        height: 40px;
        color:#fff;
        border-radius: 8px;
        border: none;
        background-color: rgba(121, 118, 118, 0.276);
        left: 0;
        bottom: 0;
        transition: 0.3s;
    }

    .rji-hero-container button:hover::after{
        color: #fff;
        width: 100%;
    }



    /* ------------------------------------------------- */

    .rji-banner-2{
        background-color: #dfdfdf;
        min-height: 100vh;
    }

    .rji-banner-2container{
        padding: 100px 0px 0px 0px;
        display: flex;
        align-items: stretch;
        justify-content: center;
        gap: 20px;
    }

    .rji-cart-imag img{
        width: 100%;
    }


    .rji-banne2-content h2{
        font-size: 54px;
        font-weight: 600;
        text-shadow: 1px 1px 2px grey;
        font-family: 'roboto';
        margin-bottom: 30px;
        text-align: left;
    }

    .rji-banne2-content p{
        font-size: 18px;
        padding-bottom: 50px;
        border-bottom: 1px solid grey;
        text-align: left;
    }

    .rji-our-solutions{
        width: 60%;
        min-height: fit-content;
        align-content: center;
        background-color: #ececec;
        box-shadow: 2px 2px 15px rgba(128, 128, 128, 0.763);
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 160px;
    }

    .rji-our-solutions h3{
        text-align: center;
        margin-bottom: 20px;
    }

    .rji-our-solutions ul{
        padding-left: 0;
    }

    .rji-our-solutions li{
        text-decoration: none;
        list-style: none;
        text-align: center;
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: 400;
        letter-spacing: 0.2px;
    }